# Ignore everything
*

# Except the Cloud Function files we want to deploy
!.yarnrc.yml
!yarn.lock
!package.json
!tsconfig.json
!tsconfig.build.json
!Dockerfile
!src/**
!etc/**
!scripts/**
!shared/**

etc/local*/
etc/utest/
